@use 'apps/project-ecommerce/src/styles/variables' as *;

::ng-deep .p-menubar{
  min-width: 1000px;
  width: 100%;
  display: flex;
  gap: 1em;
  color: $white-off;

  b {
    color: $primary-color;
  };
}

main {
  margin-top: 2em;
  display: flex;
  width: 100%;
  justify-content: center;
}
