@use 'apps/project-ecommerce/src/styles/variables' as *;

:host {
  width: 100%;

  #top-row, #bottom-row {
    display: flex;
    gap: 3em;
    text-align: center;
    align-items: center;
  }

  #top-row {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $primary-color;
  }

  #bottom-row {
    background-color: $secondary-color;
  }
}


