@use 'apps/project-ecommerce/src/styles/variables' as *;

.logo {
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.logo a {
  color: $primary-color;
  text-transform: uppercase;
  font-family: fantasy;
  font-style: italic;
  user-select: none;
  text-decoration: none;
  font-size: inherit;
}
