@use 'apps/project-ecommerce/src/styles/variables' as *;

.logo a{
  color: $primary-color;
  text-transform: uppercase;
  font-family: fantasy;
  font-style: italic;
  user-select: none;
  text-decoration: none;
  font-size: inherit;
  text-align: center;
}

