<h2 class="form-header">{{formTitle}}</h2>
<div class="main-container">
  <div class="form-container">
    <!-- {{form.value | json}} -->
    <ecommerce-dynamic-form [form]="form" [formFields]="formFields">
    </ecommerce-dynamic-form>
  </div>
  <div class="button-container">
    <button class="submit-button p-button-primary p-button-sm" [disabled]="form.invalid" [label]="submitButtonLabel"
      pButton pRipple (click)="submitAction()">
    </button>
  </div>
  <div class="bottom-inner-html" *ngIf="bottomInnerHtml" [innerHtml]="bottomInnerHtml">
  </div>
</div>
