@use 'apps/project-ecommerce/src/styles/variables' as *;

:host {
  width: 100%;
  padding: 10px;

  nav {
    display: flex;
    gap: 20px;
  }

  a {
    color: $white-off;
    font-size: $nav-link-font-size;
    font-weight: $nav-link-font-weight;
  }
}


