@use './variables' as *;

.form-card {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  text-transform: uppercase;
  text-align: center;
}

main,
header,
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .controls-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }
}

.form-container {
  width: 100%;
  justify-items: center;
  gap: 3em;
}

.have-account {
  margin-top: 10px;

  a {
    color: $primary-color;
    font-weight: bold;
    text-decoration: none;
  }
}

.submit-button {
  text-transform: uppercase;
}
