@use './reset';
@use './global';
@use './typography';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~primeng/resources/themes/saga-purple/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';
@import '~ngx-toastr/toastr';
// TODO fix input styles
// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
